/* General Styles */
body {
    background: #fff;
    font-family: arial;
    overflow: hidden;
}
button{
    background: #45aba6; 
    border: 1px solid #45aba6;
    color: #fff;
}


/* join page css */

.login-form h1 {
	font-size: 36px;
	text-align: center;
	color: #45aba6;
	margin-bottom: 30px;
	font-weight: normal;
}


.login-form {
    background: #fff;
    width: 450px;
    border-radius: 8%;
    margin: 0 auto;
    display: table;
    padding: 15px 30px 30px;
    box-sizing: border-box;
}

.form-group {
	float: left;
	width: 100%;
	margin: 0 0 15px;
	position: relative;
}

.login-form input {
    border: 0;
    width: 100%;
    padding: 5px;
    height: 56px;
    border-bottom: 2px solid #45aba6;
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 5px;
    outline: none;
}

.login-form .login-btn {
	background: #45aba6;
	padding: 11px 50px;
	border-color: #45aba6;
	color: #fff;
	text-align: center;
	margin: 20px auto;
	font-size: 20px;
	border: 1px solid #45aba6;
	width: 100%;
	height: 56px;
    cursor: pointer;
    outline: none;
}


@media screen and (max-width:767px) {
.login-form {
    width: 90%;
    padding: 15px 15px 30px;
}
}


/* Chat Page Layout */

.chat {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 200px auto;
    
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 200px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

/* Chat styles */

.chat__main {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__main .icon{
    display: none;
    margin-top: 5px;
    margin-left: 5px;
    width: 15px;
    height: 15px;

}

.header h2{
    display: none;
    color: #39BC96;
    padding-left: 75px;
    margin: 0;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0px 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

@media screen and (max-width: 400px) {
    .chat .chat__sidebar {
        display: none;
        
    }
    .chat__main .icon{
        display: inline-block;
    }
    .chat .chat__main{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .chat__main .header h2{
        display: inline-block;
    }
    .chat{
        overflow: hidden;
    }

}


@media screen and (max-width: 400px) {
   .chat__sidebar.responsive{
       position: relative;
       display: unset;

   }

}


/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
    bottom: 0;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    font-size: 20px;
    outline: none;
}

.compose button {
    font-size: 20px;
    outline: none;
}


@media screen and (max-width: 400px) {
    .compose input,.compose button{
        font-size: 15px;
    } 
    
}



/* Chat Sidebar Styles */

.chatlogs{
    padding: 24px 24px 0 24px;
    color: #39BC96;
    margin: 0;
    background: #2c2f3a;
}


.room-title {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.tag{
    font-size: 10px;
    padding: 12px 0 0 0px;
    bottom: 0;
    position: fixed;
}
.tag a{
    color: #39BC96;
    text-decoration: none;
}



@media screen and (max-width: 400px) {
   .chatlogs{
       display: none;
   } 
}